/* global.css */

/* Сброс маргинов и паддингов */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Удаление стилей у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Удаление стилей у списков */
ul,
ol {
  list-style: none;
}

/* Сброс стилей для таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Удаление фона и границ у полей ввода и текстовых областей */
input,
button,
textarea,
select {
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
}

/* Установка базовых стилей для текста */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Обнуление стилей для блоков и заголовков */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

/* Обнуление стилей для абзацев */
p {
  margin: 0;
}


/* Общие стили */
body {
    background-color: rgb(64, 17, 109);
    background-image: url('../images/background_1920x2560.jpg');
    background-repeat: no-repeat; /* Не повторять изображение */
  background-size: cover; /* Изображение будет масштабироваться так, чтобы покрыть весь элемент */
  background-position: center center; /* Позиция изображения в центре элемента */
}

/* Шапка */
.navbar {
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100; /* Наивысший z-index, чтобы шапка всегда была видна */
    margin: 0 auto;
}

.navbar svg {
    width: 50px;
    height: 50px;
}

.navbar-links {
    margin: 0 auto;
    color: #FF5733;
}

.navbar-links a {
    width: 90px;
    /* padding-left: 10px;
    padding-right: 10px; */
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  .navbar-links a:hover {
    background-color: rgb(87, 87, 87);
    transition: background-color 1.5s ease; /* Переход длительностью 0.3 секунды */
  }

.home-icon svg:hover {
    fill: #FF5733; /* Цвет при наведении */
  }

.nav_link__holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-links p {
    /* margin-top: -9px; */
    font-size: 16px;
 
}

.router-link-active {
    outline: 2px solid #ffffff; /* контур как при Tab */  
    outline-offset: 2px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);;
  }

@media (max-width: 600px) {
    .navbar svg {
        display: none;
    }
  }

/* Главная страница */

.discription_holder {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-top: 5px;
}

.donut_logo {
  margin-left: 7px;
  margin-right: 10px;
  max-width: 140px;
    height: 100%;
    border-radius: 5px;
}

.h1_holder {
  margin: 0 auto;
  width: fit-content;
}

.h1 {
  font-size: 60px;
  color: #ffffff;
  text-shadow: 
        -1px -1px 0 #413b76,  
        1px -1px 0 #413b76,  
        -1px 1px 0 #413b76,  
        1px 1px 0 #413b76; /* Окантовка */
}

.h2 {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 
        -1px -1px 0 #413b76,  
        1px -1px 0 #413b76,  
        -1px 1px 0 #413b76,  
        1px 1px 0 #413b76; /* Окантовка */
}
/*           slider Home */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pagination_prev {
  background-image: url("@/assets/images/elements/Arrow_toLeft.svg");
  width: 8px;
  height: 14px;
  margin-right: 5px;
}
div[class^="pagination_point"] {
  background-image: url("@/assets/images/elements/round-green.svg");
  width: 15px;
  height: 15px;
  margin-left: 3px;
  margin-right:  3px;
}

div[class^="pagination_point"].active {
  background-image: url("@/assets/images/elements/round-red.svg");
  width: 15px;
  height: 15px;
}

.pagination_next {
  background-image: url("@/assets/images/elements/Arrow_toRight.svg");
  width: 8px;
  height: 14px;
  margin-left: 5px;
} 

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

img[class^="slider_item"] {
  border: solid 3px #000000;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.slider_item__-2 {
  width: 250px;
  height: 150px;
  opacity: 0.3;
  transform: perspective(500px) rotateY(-60deg); /* Наклон элемента */
}
.slider_item__-1 {
  object-fit: fill;
  width: 250px;
  height: 218px;
  opacity: 0.6;
  transform: perspective(500px) rotateY(-30deg); /* Наклон элемента */
  margin-left: -73px;
}
.slider_item___0 {
  width: 250px;
  height: 250px;
}
.slider_item__1 {
  object-fit: fill;
  width: 250px;
  height: 218px;
  opacity: 0.6;
  transform: perspective(500px) rotateY(30deg); /* Наклон элемента */
  margin-right: -73px;
}
.slider_item__2 {
  width: 250px;
  height: 150px;
  opacity: 0.3;
  transform: perspective(500px) rotateY(60deg); /* Наклон элемента */

}
